<!DOCTYPE html>
<html>
<head>
    <title>Face Detection</title>
    <h1>Introduction</h1>
    <p>This Flask app allows users to upload an image file and performs face detection on that image. It uses the face_recognition library to detect faces in the uploaded image.</p>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Face Detection</h1>
    <form action="/detect" method="POST" enctype="multipart/form-data">
        <input type="file" name="image">
        <input type="submit" value="Detect">
    </form>
</body>
</html>
